In [1]:
import pandas as pd

In [13]:
pd.set_option('display.max_columns', None)

In [2]:
test = pd.read_csv("data/test_set_VU_DM.csv")
train = pd.read_csv("data/training_set_VU_DM.csv")

In [7]:
for search in train.srch_id.unique()[0:1]:
    train_search = train.loc[train.srch_id == search]
    print(train_search)

    srch_id            date_time  site_id  visitor_location_country_id  \
0         1  2013-04-04 08:32:15       12                          187
1         1  2013-04-04 08:32:15       12                          187
2         1  2013-04-04 08:32:15       12                          187
3         1  2013-04-04 08:32:15       12                          187
4         1  2013-04-04 08:32:15       12                          187
5         1  2013-04-04 08:32:15       12                          187
6         1  2013-04-04 08:32:15       12                          187
7         1  2013-04-04 08:32:15       12                          187
8         1  2013-04-04 08:32:15       12                          187
9         1  2013-04-04 08:32:15       12                          187
10        1  2013-04-04 08:32:15       12                          187
11        1  2013-04-04 08:32:15       12                          187
12        1  2013-04-04 08:32:15       12                          187
13        1  2013-04-04 08:32:15       12                          187
14        1  2013-04-04 08:32:15       12                          187
15        1  2013-04-04 08:32:15       12                          187
16        1  2013-04-04 08:32:15       12                          187
17        1  2013-04-04 08:32:15       12                          187
18        1  2013-04-04 08:32:15       12                          187
19        1  2013-04-04 08:32:15       12                          187
20        1  2013-04-04 08:32:15       12                          187
21        1  2013-04-04 08:32:15       12                          187
22        1  2013-04-04 08:32:15       12                          187
23        1  2013-04-04 08:32:15       12                          187
24        1  2013-04-04 08:32:15       12                          187
25        1  2013-04-04 08:32:15       12                          187
26        1  2013-04-04 08:32:15       12                          187
27        1  2013-04-04 08:32:15       12                          187

    visitor_hist_starrating  visitor_hist_adr_usd  prop_country_id  prop_id  \
0                       NaN                   NaN              219      893
1                       NaN                   NaN              219    10404
2                       NaN                   NaN              219    21315
3                       NaN                   NaN              219    27348
4                       NaN                   NaN              219    29604
5                       NaN                   NaN              219    30184
6                       NaN                   NaN              219    44147
7                       NaN                   NaN              219    50984
8                       NaN                   NaN              219    53341
9                       NaN                   NaN              219    56880
10                      NaN                   NaN              219    59267
11                      NaN                   NaN              219    59526
12                      NaN                   NaN              219    68914
13                      NaN                   NaN              219    74474
14                      NaN                   NaN              219    81437
15                      NaN                   NaN              219    85728
16                      NaN                   NaN              219    88096
17                      NaN                   NaN              219    88127
18                      NaN                   NaN              219    88218
19                      NaN                   NaN              219    89073
20                      NaN                   NaN              219    95166
21                      NaN                   NaN              219    95307
22                      NaN                   NaN              219    97247
23                      NaN                   NaN              219   107872
24                      NaN                   NaN              219   111000
25                      NaN                   NaN              219   111106
26                      NaN                   NaN              219   114766
27                      NaN                   NaN              219   122844

    prop_starrating  prop_review_score  ...  comp6_rate_percent_diff  \
0                 3                3.5  ...                      NaN
1                 4                4.0  ...                      NaN
2                 3                4.5  ...                      NaN
3                 2                4.0  ...                      NaN
4                 4                3.5  ...                      NaN
5                 4                4.5  ...                      NaN
6                 3                3.5  ...                      NaN
7                 2                0.0  ...                      NaN
8                 4                4.0  ...                      NaN
9                 4                4.0  ...                      NaN
10                3                0.0  ...                      NaN
11                3                3.5  ...                      NaN
12                2                3.0  ...                      NaN
13                3                4.5  ...                      NaN
14                3                4.0  ...                      NaN
15                2                3.0  ...                      NaN
16                4                4.0  ...                      NaN
17                3                3.0  ...                      NaN
18                4                3.5  ...                      NaN
19                4                4.0  ...                      NaN
20                3                4.0  ...                      NaN
21                4                3.5  ...                      NaN
22                2                3.5  ...                      NaN
23                2                3.5  ...                      NaN
24                3                4.5  ...                      NaN
25                3                2.5  ...                      NaN
26                2                3.5  ...                      NaN
27                3                4.5  ...                      NaN

    comp7_rate  comp7_inv  comp7_rate_percent_diff  comp8_rate  comp8_inv  \
0          NaN        NaN                      NaN         0.0        0.0
1          NaN        NaN                      NaN         0.0        0.0
2          NaN        NaN                      NaN         0.0        0.0
3          NaN        NaN                      NaN        -1.0        0.0
4          NaN        NaN                      NaN         0.0        0.0
5          NaN        NaN                      NaN         0.0        0.0
6          NaN        NaN                      NaN         0.0        0.0
7          NaN        NaN                      NaN         NaN        NaN
8          NaN        NaN                      NaN         0.0        0.0
9          NaN        NaN                      NaN         0.0        0.0
10         NaN        NaN                      NaN         0.0        0.0
11         NaN        NaN                      NaN         1.0        0.0
12         NaN        NaN                      NaN         0.0        0.0
13         NaN        NaN                      NaN         0.0        0.0
14         NaN        NaN                      NaN         0.0        0.0
15         NaN        NaN                      NaN         0.0        0.0
16         NaN        NaN                      NaN         0.0        0.0
17         NaN        NaN                      NaN         0.0        0.0
18         NaN        NaN                      NaN         0.0        0.0
19         NaN        NaN                      NaN         0.0        0.0
20         NaN        NaN                      NaN         0.0        0.0
21         NaN        NaN                      NaN        -1.0        0.0
22         NaN        NaN                      NaN        -1.0        0.0
23         NaN        NaN                      NaN         0.0        0.0
24         NaN        NaN                      NaN         0.0        0.0
25         NaN        NaN                      NaN         0.0        0.0
26         NaN        NaN                      NaN         NaN        NaN
27         NaN        NaN                      NaN         0.0        0.0

    comp8_rate_percent_diff  click_bool  gross_bookings_usd  booking_bool
0                       NaN           0                 NaN             0
1                       NaN           0                 NaN             0
2                       NaN           0                 NaN             0
3                       5.0           0                 NaN             0
4                       NaN           0                 NaN             0
5                       7.0           0                 NaN             0
6                       NaN           0                 NaN             0
7                       NaN           0                 NaN             0
8                       6.0           0                 NaN             0
9                       NaN           0                 NaN             0
10                      NaN           0                 NaN             0
11                     31.0           0                 NaN             0
12                     11.0           1              114.29             1
13                      NaN           0                 NaN             0
14                      NaN           0                 NaN             0
15                      NaN           0                 NaN             0
16                     15.0           0                 NaN             0
17                      NaN           0                 NaN             0
18                      NaN           0                 NaN             0
19                      5.0           0                 NaN             0
20                      NaN           0                 NaN             0
21                     27.0           0                 NaN             0
22                      5.0           0                 NaN             0
23                     14.0           0                 NaN             0
24                      NaN           0                 NaN             0
25                      NaN           0                 NaN             0
26                      NaN           0                 NaN             0
27                      NaN           0                 NaN             0

[28 rows x 54 columns]

In [10]:
train.head(n=10)

,srch_id,date_time,site_id,visitor_location_country_id,visitor_hist_starrating,visitor_hist_adr_usd,prop_country_id,prop_id,prop_starrating,prop_review_score,...,comp6_rate_percent_diff,comp7_rate,comp7_inv,comp7_rate_percent_diff,comp8_rate,comp8_inv,comp8_rate_percent_diff,click_bool,gross_bookings_usd,booking_bool
0,1,2013-04-04 08:32:15,12,187,NaN,NaN,219,893,3,3.5,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0,NaN,0
1,1,2013-04-04 08:32:15,12,187,NaN,NaN,219,10404,4,4.0,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0,NaN,0
2,1,2013-04-04 08:32:15,12,187,NaN,NaN,219,21315,3,4.5,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0,NaN,0
3,1,2013-04-04 08:32:15,12,187,NaN,NaN,219,27348,2,4.0,...,NaN,NaN,NaN,NaN,-1.0,0.0,5.0,0,NaN,0
4,1,2013-04-04 08:32:15,12,187,NaN,NaN,219,29604,4,3.5,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0,NaN,0
5,1,2013-04-04 08:32:15,12,187,NaN,NaN,219,30184,4,4.5,...,NaN,NaN,NaN,NaN,0.0,0.0,7.0,0,NaN,0
6,1,2013-04-04 08:32:15,12,187,NaN,NaN,219,44147,3,3.5,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0,NaN,0
7,1,2013-04-04 08:32:15,12,187,NaN,NaN,219,50984,2,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,0
8,1,2013-04-04 08:32:15,12,187,NaN,NaN,219,53341,4,4.0,...,NaN,NaN,NaN,NaN,0.0,0.0,6.0,0,NaN,0
9,1,2013-04-04 08:32:15,12,187,NaN,NaN,219,56880,4,4.0,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0,NaN,0

In [14]:
train.loc[(train.site_id == 24) & (train.visitor_location_country_id == 216) & (train.prop_country_id == 219) & (train.prop_id == 3180)]

,srch_id,date_time,site_id,visitor_location_country_id,visitor_hist_starrating,visitor_hist_adr_usd,prop_country_id,prop_id,prop_starrating,prop_review_score,prop_brand_bool,prop_location_score1,prop_location_score2,prop_log_historical_price,position,price_usd,promotion_flag,srch_destination_id,srch_length_of_stay,srch_booking_window,srch_adults_count,srch_children_count,srch_room_count,srch_saturday_night_bool,srch_query_affinity_score,orig_destination_distance,random_bool,comp1_rate,comp1_inv,comp1_rate_percent_diff,comp2_rate,comp2_inv,comp2_rate_percent_diff,comp3_rate,comp3_inv,comp3_rate_percent_diff,comp4_rate,comp4_inv,comp4_rate_percent_diff,comp5_rate,comp5_inv,comp5_rate_percent_diff,comp6_rate,comp6_inv,comp6_rate_percent_diff,comp7_rate,comp7_inv,comp7_rate_percent_diff,comp8_rate,comp8_inv,comp8_rate_percent_diff,click_bool,gross_bookings_usd,booking_bool
1913471,128450,2012-11-09 11:29:34,24,216,NaN,NaN,219,3180,3,4.5,1,2.94,0.0691,5.02,13,123.98,0,19222,2,3,1,0,1,0,NaN,NaN,0,NaN,NaN,NaN,0.0,0.0,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0,NaN,0
3242288,217751,2013-04-29 17:59:08,24,216,NaN,NaN,219,3180,3,4.5,1,2.94,0.0691,5.02,15,131.27,0,19222,1,34,1,1,1,0,NaN,NaN,0,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,0
3542953,237903,2013-04-15 15:59:36,24,216,NaN,NaN,219,3180,3,4.5,1,2.94,0.0251,5.01,19,141.29,0,10559,2,29,2,0,1,0,NaN,NaN,1,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0,NaN,0
4302983,288724,2013-05-06 11:48:06,24,216,NaN,NaN,219,3180,3,4.5,1,2.94,0.0077,5.03,8,138.53,0,13539,1,73,1,0,1,1,NaN,NaN,0,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,0